In [1]:
import pandas as pd
import plotly.express as px

df = pd.read_csv('categorized_data.csv')

print("ë°ì´í„° ë¡œë“œ")
display(df.head())

ë°ì´í„° ë¡œë“œ

,brand,name,price,event,img_url,category
0,7Eleven,HK)ìƒˆì‹¹ë³´ë¦¬500ml,2500,1+1,https://www.7-eleven.co.kr/upload/product/8809...,ìŒë£Œ
1,7Eleven,LG)ìƒ¤í”„ë€ì•„ìš°ë¼1L(ìŠ¤ìœ—ë§Œë‹¤ë¦°),12900,1+1,https://www.7-eleven.co.kr/upload/product/8801...,ìƒí™œ/ìœ„ìƒìš©í’ˆ
2,7Eleven,LG)ìƒ¤í”„ë€ì•„ìš°ë¼1L(ë§¤ê·¸ë†€ë¦¬ì•„),12900,1+1,https://www.7-eleven.co.kr/upload/product/8801...,ìƒí™œ/ìœ„ìƒìš©í’ˆ
3,7Eleven,ì•„ëª¨ë ˆ)ë¯¸ì¥ì„¼í¼í™íŠ¸ìƒ´í‘¸680ml_H,18000,1+1,https://www.7-eleven.co.kr/upload/product/8809...,ìƒí™œ/ìœ„ìƒìš©í’ˆ
4,7Eleven,ì•„ëª¨ë ˆ)ë¯¸ì¥ì„¼í¼í™íŠ¸ë¦°ìŠ¤680ml_H,18000,1+1,https://www.7-eleven.co.kr/upload/product/8809...,ìƒí™œ/ìœ„ìƒìš©í’ˆ

ì¹´í…Œê³ ë¦¬ë³„ ê°€ê²© ë¶„í¬

In [5]:
fig_box = px.box(df, 
                 x='category', 
                 y='price', 
                 color='category',
                 title='ğŸ’° ì¹´í…Œê³ ë¦¬ë³„ ê°€ê²©ëŒ€ ë¶„í¬',
                 points="all")

fig_box.show()